@font-face {
  font-family: "Monaspace Krypton";
  src: url("/fonts/monaspace/Monaspace-Krypton-Var.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/inter/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/inter/InterVariable-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk/SpaceGrotesk[wght].woff2") format("woff2");
}
