# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Deploy to vercel

on:
  workflow_dispatch: ~
  push:
    branches: [ "main" ]

env:
  VERCEL_ORG_ID: ${{ vars.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ vars.VERCEL_PROJECT_ID }}
  VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
  VERCEL_TELEMETRY_DISABLED: 1

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Enable corepack
      run: corepack enable
    
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 24.x
        cache: 'yarn'
    - run: yarn dlx vercel --prod
